# Build artifacts
build/
dist/
*.egg-info
*.pyc
__pycache__/

# Cython outputs
verge_auth_sdk/*.c
verge_auth_sdk/*.pyd
verge_auth_sdk/*.so
verge_auth_sdk/*.dylib

# IDE / Editor
.vscode/
.idea/

# Pyarmor
.pyarmor/
